<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Week-11---SQL-Tutorial" data-toc-modified-id="Week-11---SQL-Tutorial-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Week 11 - SQL Tutorial</a></span></li><li><span><a href="#Intro-to-SQL" data-toc-modified-id="Intro-to-SQL-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Intro to SQL</a></span><ul class="toc-item"><li><span><a href="#SHOW-TABLES" data-toc-modified-id="SHOW-TABLES-2.1"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>SHOW TABLES</a></span></li><li><span><a href="#DESCRIBE" data-toc-modified-id="DESCRIBE-2.2"><span class="toc-item-num">2.2&nbsp;&nbsp;</span>DESCRIBE</a></span></li><li><span><a href="#SELECT" data-toc-modified-id="SELECT-2.3"><span class="toc-item-num">2.3&nbsp;&nbsp;</span>SELECT</a></span></li><li><span><a href="#SELECT" data-toc-modified-id="SELECT-2.4"><span class="toc-item-num">2.4&nbsp;&nbsp;</span>SELECT</a></span></li><li><span><a href="#SELECT" data-toc-modified-id="SELECT-2.5"><span class="toc-item-num">2.5&nbsp;&nbsp;</span>SELECT</a></span></li><li><span><a href="#SELECT-DISTINCT" data-toc-modified-id="SELECT-DISTINCT-2.6"><span class="toc-item-num">2.6&nbsp;&nbsp;</span>SELECT DISTINCT</a></span></li><li><span><a href="#SELECT-DISTINCT" data-toc-modified-id="SELECT-DISTINCT-2.7"><span class="toc-item-num">2.7&nbsp;&nbsp;</span>SELECT DISTINCT</a></span></li><li><span><a href="#COUNT" data-toc-modified-id="COUNT-2.8"><span class="toc-item-num">2.8&nbsp;&nbsp;</span>COUNT</a></span></li><li><span><a href="#COUNT" data-toc-modified-id="COUNT-2.9"><span class="toc-item-num">2.9&nbsp;&nbsp;</span>COUNT</a></span></li><li><span><a href="#COUNT" data-toc-modified-id="COUNT-2.10"><span class="toc-item-num">2.10&nbsp;&nbsp;</span>COUNT</a></span></li><li><span><a href="#WHERE" data-toc-modified-id="WHERE-2.11"><span class="toc-item-num">2.11&nbsp;&nbsp;</span>WHERE</a></span></li><li><span><a href="#WHERE" data-toc-modified-id="WHERE-2.12"><span class="toc-item-num">2.12&nbsp;&nbsp;</span>WHERE</a></span></li><li><span><a href="#WHERE" data-toc-modified-id="WHERE-2.13"><span class="toc-item-num">2.13&nbsp;&nbsp;</span>WHERE</a></span></li><li><span><a href="#WHERE-AND" data-toc-modified-id="WHERE-AND-2.14"><span class="toc-item-num">2.14&nbsp;&nbsp;</span>WHERE AND</a></span></li><li><span><a href="#WHERE-AND-OR" data-toc-modified-id="WHERE-AND-OR-2.15"><span class="toc-item-num">2.15&nbsp;&nbsp;</span>WHERE AND OR</a></span></li><li><span><a href="#WHERE-AND-OR" data-toc-modified-id="WHERE-AND-OR-2.16"><span class="toc-item-num">2.16&nbsp;&nbsp;</span>WHERE AND OR</a></span></li><li><span><a href="#BETWEEN" data-toc-modified-id="BETWEEN-2.17"><span class="toc-item-num">2.17&nbsp;&nbsp;</span>BETWEEN</a></span></li><li><span><a href="#WHERE-IN" data-toc-modified-id="WHERE-IN-2.18"><span class="toc-item-num">2.18&nbsp;&nbsp;</span>WHERE IN</a></span></li><li><span><a href="#WHERE-IN" data-toc-modified-id="WHERE-IN-2.19"><span class="toc-item-num">2.19&nbsp;&nbsp;</span>WHERE IN</a></span></li><li><span><a href="#Aggregate-functions" data-toc-modified-id="Aggregate-functions-2.20"><span class="toc-item-num">2.20&nbsp;&nbsp;</span>Aggregate functions</a></span></li><li><span><a href="#ORDER-BY" data-toc-modified-id="ORDER-BY-2.21"><span class="toc-item-num">2.21&nbsp;&nbsp;</span>ORDER BY</a></span></li><li><span><a href="#GROUP-BY" data-toc-modified-id="GROUP-BY-2.22"><span class="toc-item-num">2.22&nbsp;&nbsp;</span>GROUP BY</a></span></li><li><span><a href="#GROUP-BY" data-toc-modified-id="GROUP-BY-2.23"><span class="toc-item-num">2.23&nbsp;&nbsp;</span>GROUP BY</a></span></li><li><span><a href="#Aliasing-with-AS" data-toc-modified-id="Aliasing-with-AS-2.24"><span class="toc-item-num">2.24&nbsp;&nbsp;</span>Aliasing with AS</a></span></li><li><span><a href="#Combining-commands" data-toc-modified-id="Combining-commands-2.25"><span class="toc-item-num">2.25&nbsp;&nbsp;</span>Combining commands</a></span></li></ul></li></ul></div>

# Week 11 - SQL Tutorial

In [1]:
%reload_ext sql

And connect to the database:

In [2]:
%sql mysql+pymysql://guest:guest@shiny-demo.csa7qlmguqrf.us-east-1.rds.amazonaws.com/shinydemo

'Connected: guest@shinydemo'

# Intro to SQL

![](images/sql_for_data_science_banner.png)

## SHOW TABLES

**TASK**: `SHOW TABLES` lists all tables the database includes.

In [3]:
%sql SHOW TABLES

 * mysql+pymysql://guest:***@shiny-demo.csa7qlmguqrf.us-east-1.rds.amazonaws.com/shinydemo
3 rows affected.

[('City',), ('Country',), ('CountryLanguage',)]

## DESCRIBE

**TASK**: Describe the `City` and `CountryLanguage` table.

In [ ]:
%sql

In [ ]:
%sql

## SELECT

**TASK**: Select a single column, `Language`, from the `CountryLanguage` table.

In [ ]:
%sql SELECT Language FROM CountryLanguage

## SELECT

**TASK**: Select **all** columns from the `City` table

In [ ]:
%sql

## SELECT


**TASK**: Now, only select the columns `Name` and `Population` from the `City` table.

In [ ]:
%sql

## SELECT DISTINCT

**TASK**: Select all distinct languages in the `CountryLanguage` table.

In [ ]:
%sql

## SELECT DISTINCT

**TASK**: Select all unique `GovernmentForm` mentions in the `Country` table.

In [ ]:
%sql

## COUNT

As you've seen, `COUNT(*)` tells you how many rows are in a table. However, if you want to count the **number of non-missing values in a particular column**, you can call `COUNT` on just that column.

**TASK**: Check for how many countries the column  `IndepYear` is not missing.

In [ ]:
%sql

## COUNT

Let's compare missingness across columns. 

**TASK**: Generate counts of `Name` and `LifeExpectancy` in a single SQL statement (Hint: Separate by comma).

In [ ]:
%sql

## COUNT

Now combine with `DISTINCT`.

**Task:** Count how many distinct languages there are.

In [ ]:
%%sql

## WHERE

**Task:** Show all countries with `LifeExpectancy` larger than 80 years.

In [ ]:
%%sql

## WHERE

**Task:** Get the `Name`, `Region`, and `IndepYear` for all countries with independence years before the year 1000.

In [ ]:
%%sql

## WHERE

The `WHERE` clause can also be used to filter text results, such as names or countries.

**Task:** Get the number of countries in South America (hint: `Region`).

In [ ]:
%%sql

## WHERE AND

**Task:** Get the `CountryCode`, `Language`, and the `Percentage` that speak it from the `CountryLanguage` table for all languages that are  official (`IsOfficial`) and less than 3 percent of the population speak it (`Percentage`).</span>

In [ ]:
%%sql

## WHERE AND OR

What if you want to select rows based on multiple conditions where **some but not all of the conditions need to be met**? For this, SQL has the `OR` operator.

**Task:** Select `Name`, `SurfaceArea` and `Population` for all countries with population larger than 300 million `OR` surface area larger than 5 million square km.</span>

In [ ]:
%%sql

## WHERE AND OR

**Task:** Select `CountryCode`, `Language`, and `Percentage` for all English entries where the language is either (a) not official (`IsOfficial`) and spoken by the majority, or (b) official and spoken by less than 1 percent but more than 0 percent.

In [ ]:
%%sql

## BETWEEN

**Task:** List city `Name`s and `Population` of cities whose population is between 8 and 10 million.

In [ ]:
%%sql

## WHERE IN

**Task**: Count the number of countries (hint: `CountryCode`) in the `CountryLanguage` table in which one of the official languages is either English, French, or Spanish.

In [ ]:
%%sql

## WHERE IN

**Task:** Show all city `Name`s in the `City` table that have an "x" as their second letter.

In [ ]:
%%sql

In [ ]:
%%sql 
SELECT AVG(Percentage)
FROM   CountryLanguage 
WHERE IsOfficial = 'F'

## Aggregate functions

**Task:** Find the smallest, largest and average `LifeExpectancy` on the `Continent` of Africa (using the `Country` table)?</span>

In [ ]:
%%sql

## ORDER BY

**Task:** Find the `Name`s of the 5 largest cities (and their `Population`s) in the dataset.

In [ ]:
%%sql

## GROUP BY

Just as in `pandas`, SQL allows you to obtain results aggregated by subgroups. 

```
-- GROUP BY Syntax
SELECT column_name(s)
FROM table_name
WHERE condition
GROUP BY column_name(s)
ORDER BY column_name(s);
```

## GROUP BY

**Task:** Count how many countries are on each `Continent`.

In [ ]:
%%sql 
SELECT Continent, COUNT(*)
FROM   Country 
GROUP BY Continent

## Aliasing with AS 

**Task:** Rename the column name of the count "Number of Countries".

In [ ]:
%%sql

## Combining commands 

**Task:** Now alter the previous command to separate by whether a language `IsOfficial` or not.

    SELECT AVG(Percentage), Language
    FROM   CountryLanguage 
    WHERE Language IN ('English', 'Spanish', 'German', 'Portuguese')
    GROUP BY Language

In [ ]:
%%sql